.main-container {
  width: 90%;
  margin: 0px auto;
}

.cart-wrapper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-items {
  width: 70%;
  margin: 10px 0px;
}

.coupon-container {
  margin-bottom: 30px;
}
