.cart-item-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
  flex-direction: row;
  box-shadow: 5px 3px 5px grey;
  padding: 10px 0px;
  border-radius: 2%;
  flex-wrap: wrap;
}

.quantity-wrapper {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 500px) {
  .cart-item-wrapper {
    width: 100%;
    margin: 20px 0px;
  }

  .quantity-wrapper {
    width: 80%;
    margin: 5px 0px;
  }
}
