.order-confirm-card {
    text-align: center;
    font-family: bold;
    padding: 20px;
    box-shadow: 
    inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC; 
    width: 50%;
    height: 50%;
    margin: 30px auto;
    background-color: lightgrey;
}
.order-confirm-card a{
    color: #446e9b;
}

@media only screen and (max-width: 500px){
    .order-confirm-card h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    

  }